{% extends 'base.html' %}
{% block title %} Entrada Correspondencia{% endblock %}
{% block active_entrada %} active {% endblock %}
{% block content %}
	<div class="container ">


	<h3>Entrada de correspondencia</h3>


	<form method="post">
			{% csrf_token %}
	<div class="mb-3 row">
		<label for="radicado" class="col-sm-2 col-form-label">Radicado: </label>
		<div class="col-sm-4">
			<input type="text" name="radicado" class="form-control" required id="id_radicado" placeholder="RVD-0000">
		</div>
	</div>
		<div class="mb-3 row">
		<label for="recibido_de" class="col-sm-2 col-form-label">Recibido de: </label>
		<div class="col-sm-4">
			<input type="text" name="recibido_de" class="form-control" required id="id_recibido_de">
		</div>
		</div>
		<div class="mb-3 row">


				<label for="fecha_recibido" class="col-sm-2 col-form-label">Fecha recibido: </label>
			<div class="col-sm-4">

				<input type="text" name="fecha_recibido" class="form-control" required id="id_fecha_recibido">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="asunto" class="col-sm-2 col-form-label">Asunto: </label>
			<div class="col-sm-4">
				<input type="text" name="asunto" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="num_folios" class="col-sm-2 col-form-label">Número folios: </label>
			<div class="col-sm-4">
				<input type="text" name="num_folios" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="firmado_por" class="col-sm-2 col-form-label">Firmado por: </label>
			<div class="col-sm-4">
				<input type="text" name="firmado_por" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="cargo_firm" class="col-sm-2 col-form-label">Cargo firmante: </label>
			<div class="col-sm-4">
				<input type="text" name="cargo_firm" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="enviado_a" class="col-sm-2 col-form-label">Enviado a: </label>
			<div class="col-sm-4">
				<input type="text" name="enviado_a" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="fecha_envio" class="col-sm-2 col-form-label">Fecha envío: </label>
			<div class="col-sm-4">
				<input type="text" name="fecha_envio" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="almacenado" class="col-sm-2 col-form-label">Almacenado AZ: </label>
			<div class="col-sm-4">
				<input type="text" name="almacenado" class="form-control" required id="id_asunto">
			</div>

		</div>

		<div class="mb-3 row">

				<label for="observaciones" class="col-sm-2 col-form-label">Observaciones: </label>
			<div class="col-sm-4">
				<input type="text" name="observaciones" class="form-control" required id="id_asunto">
			</div>

		</div>
		<div class="mb-5 row">


			<div class="col-sm-1">
				<input type="button" class="col-sm-1 form-control btn-success" value="Enviar">
			</div>

		</div>

		</form>

	</div>

{% endblock %}